[submodule "kafka-stack-docker-compose"]
	path = kafka-stack-docker-compose
	url = git@github.com:ryukisaito/kafka-stack-docker-compose.git
[submodule "spark-cluster-jupyter"]
	path = spark-cluster-jupyter
	url = git@github.com:ryukisaito/spark-cluster-jupyter.git
