[submodule "docker/kafka-stack-docker-compose"]
	path = docker/kafka-stack-docker-compose
	url = git@github.com:ryukisaito/kafka-stack-docker-compose.git
[submodule "docker/spark-cluster-jupyter"]
	path = docker/spark-cluster-jupyter
	url = git@github.com:ryukisaito/spark-cluster-jupyter.git
[submodule "python/confluent-kafka-python"]
	path = python/confluent-kafka-python
	url = git@github.com:ryukisaito/confluent-kafka-python.git
[submodule "source/spark-official"]
	path = source/spark-official
	url = git@github.com:ryukisaito/spark-official.git
[submodule "python/pyspark-examples-official"]
	path = python/pyspark-examples-official
	url = git@github.com:ryukisaito/pyspark-examples-official.git
